.debug, .error, .fatal, .info, .unknown, .warn {
  font-family: Monaco,"Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-stretch: semi-condensed;
  padding: 2px;
}

.debug {
  color: magenta;
}

.error {
  color: red;
}

.fatal {
  background: lightyellow;
  color: black;
}

.info {
  color: rgb(133, 186, 246);
}

.unknown {
  background: black;
  color: white;
}

.warn {
  color: #ffcc00;
}
