.level_debug, .level_error, .level_fatal, .level_info, .level_unknown, .level_warn {
  font-family: Monaco,"Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 11pt;
  font-stretch: semi-condensed;
  padding: 2px;
}

.level_debug {
  color: magenta;
}

.level_error {
  color: red;
}

.level_fatal {
  background: red;
  color: white;
}

.level_info {
  color: cyan;
}

.level_unknown {
  background: rgb(255, 255, 119);
  color: darkgreen;
}

.level_warn {
  color: yellow;
}
